<body>
    <div class="formulaire col-md-6 mx-auto">
        <form id="form">
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" class="form-control" id="nom" placeholder="Dupont" required>
            </div>
            <div class="form-group">
                <label for="prenom">Votre prénom</label>
                <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Jean" required>
            </div>
            <div class="form-group">
                <label for="adresse">Votre adresse</label>
                <input type="text" class="form-control" id="adresse" name="adresse" placeholder="8 rue de la Fonderie" required>
            </div>
            <div class="form-group">
                <label for="nom">Votre code postal</label>
                <input type="text" class="form-control" id="codepostal" name="codepostal" placeholder="67000" maxlength="5" pattern="[0-9]+" required>
            </div>
            <div class="form-group">
                <label for="ville">Votre ville</label>
                <input type="text" class="form-control" id="ville" name="ville" placeholder="Strasbourg" required>
            </div>
            <div class="form-group">
                <label for="tel">Votre Téléphone</label>
                <input type="tel" class="form-control" id="tel" name="tel" placeholder="0612345678" required>
            </div>
            <div class="form-group">
                <label for="email">Votre e-mail</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="monadresse@mail.com" required>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Civilité</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Monsieur</option>
                  <option>Madame</option>
                </select>
              </div>
            <div class="form-group">
                <label for="login">Votre login</label>
                <input type="text" class="form-control" id="login" name="login" placeholder="J.Dupont" required>
            </div>
            <div class="form-group">
                <label for="password">Votre mot de passe</label>
                <input type="password" class="form-control" id="mdp" name="mdp" placeholder="Mot de passe" required>
            </div>
            <div class="form-group">
                <label for="password">Confirmez votre mot de passe</label>
                <input type="password" class="form-control" id="mdp2" name="mdp2" oncopy="return false" onpaste="return false"
                    oncut="return false" placeholder="Confirmer votre mot de passe" required>
                <div class="invalid-feedback">Mots de passe différents</div>
            </div>
            <br>
            <div>
                <button type="submit">Envoyer mon message </button>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>